.favourites_page_container{
  background-color: $chinook;
  min-height: 100vh;
}

.favourites_pages_content{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
  padding: 8px;

  @media (min-width: 768px) {
    & { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 1024px) {
    & { grid-template-columns: repeat(3, 1fr); }
  }
  @media (min-width: 1280px) {
    & { grid-template-columns: repeat(4, 1fr); }
  }

  @media (min-width: 1440px) {
    & { grid-template-columns: repeat(5, 1fr); }
  }
}

.favourites_pages_no_content{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}